* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    background-color: rgba(8, 255, 251, 0.09);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.305);
    padding: 2.5rem 2rem;
    border-radius: 8px;
    gap: 0.5rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.247);
    width: 30vw;
    /* display: none; */
}
#signup-heading {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.signup-form {
    width: 100%;
}
.signup-form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.signup-form div h4 {
    font-weight: 500;
    padding-left: 0.5rem;
}
.signup-form div input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.051);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signup-btn {
    outline: none;
    border: none;
    padding: 1rem;
    width: 100%;
    background-color: #fea1009b;
    margin-top: 1.5rem;
    font-weight: 800;
    font-size: 1.1rem;
    letter-spacing: 2px;
    cursor: pointer;
}
.signup-last-msg-link {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.auth-err-msg {
    color: red;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-family: monospace;
    visibility: hidden;
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.305);
    padding: 2.5rem 2rem;
    border-radius: 8px;
    gap: 0.5rem;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.247);
    width: 30vw;
}
#login-heading {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.login-form {
    width: 100%;
}
.login-form div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}
.login-form div h4 {
    font-weight: 500;
    padding-left: 0.5rem;
}
.login-form div input {
    width: 100%;
    outline: none;
    border: none;
    padding: 0.8rem;
    background-color: rgba(0, 0, 0, 0.051);
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login-btn {
    outline: none;
    border: none;
    padding: 1rem;
    width: 100%;
    background-color: #fea1009b;
    margin-top: 1.5rem;
    font-weight: 800;
    font-size: 1.1rem;
    cursor: pointer;
    letter-spacing: 2px;
}
.login-last-msg-link {
    text-decoration: underline;
    cursor: pointer;
    color: black;
}


.loader {
    max-width: 1.45rem;
    height: 1.45rem;
    /* background-color: red; */
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-top: 5px solid #ffffff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}